<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>cfusion</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings></VariableMappings></ResourceDetails>